<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - {$meta_title} </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/page.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/common.css" rel="stylesheet" type="text/css" />
<block name="css"></block>
</head>
<body>
<div id="top-alert" class="fixed alert alert-error" style="display: none">
<button class="close fixed" style="margin-top: 4px;">×</button>
<div class="alert-content">这是内容</div>
</div>
<h1>
    <block name="addLink">
    <span class="action-span"><a href="{:U('add')}">添加{$meta_title}</a></span>
    </block>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$meta_title} </span>
    <div style="clear:both"></div>
</h1>
<block name="searchForm">
<div class="form-div">
    <form action="{:U()}" name="searchForm" method="get">
        <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search" />
        <input type="text" name="keyword" size="15" />
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>
</block>


<div class="list-div" id="listDiv">
        <block name="list"></block>
        <div class="page">{$pageHTML}</div>
    </div>

<div id="footer">
共执行 3 个查询，用时 0.021251 秒，Gzip 已禁用，内存占用 2.194 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<script type="text/javascript" src="__JS__/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<block name="js"></block>
</body>
</html>