<extend name="Common:edit"/>
<block name="form">
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                <td class="label">送货方式名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"/>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">价格</td>
                <td>
                    <input type="text" name="price" maxlength="60" value="{$price}"/>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">是否默认</td>
                <td>
                    <input  type="radio" name="is_default" value="1"/> 是<input  type="radio" name="is_default" value="0"/> 否

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">简介</td>
                <td>
                    <textarea name="intro">{$intro}</textarea>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button ajax_post" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</block>