<extend name="Common:edit"/>
<block name="form">
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                <td class="label">供货商名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"/>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4">{$intro}</textarea>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">状态</td>
                <td>
                    <input class="status" type="radio" name="status" value="1"/> 是<input class="status" type="radio" name="status" value="0"/> 否

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort}"/>

                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button ajax_post" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</block>